body {
    background-color: rgb(253, 253, 253);
}

.main-box {
    background-color: rgb(252, 251, 249);
    border: 1px solid rgb(247, 219, 185);
    width: 60%;
    margin: auto;
}

#todo-title{
    text-align: center;    
}

#todo-body{
    padding: 5px
}

#input-field{
    padding-left: 15px;
}

.drag-cursor{
    cursor: grab;
    float: right;
}

.todo-item-element{
    flex-grow: 1;
}

.todo-item{
    gap: 20px;
    margin: 10px 0;
    padding: 5px 0; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    border: 1px solid rgb(247, 219, 185);
}